{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
    <link rel="stylesheet" href="{% static 'style/task/addtask.css' %}">
</head>
<body>
    {% include 'header.html' %}
   
    <div class="form-elements">
        
    <form action="" method="POST">
        {% csrf_token %}
        <h1>
            Add Task
            </h1>
        <div class="mb-3">
            <div class="text">

            
            <label for="title" class="form-label" style="visibility:hidden;">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Add Title">
        </div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label" style="visibility: hidden;">Description</label>
            <textarea class="form-control" id="description" name="content" placeholder="Add content about notes.."></textarea>
        </div>
        <div class="mb-3">
            <label for="due_date" class="form-label">Deadline</label>
            <input type="date" class="form-control" id="due_date" name="deadline"  placeholder="Add deadline ..">
        </div>
        <div class="mb-3">
            <label for="priority" class="form-label">Category</label>
           
                <select class="form-select" id="priority" name="category">
                    {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.name == 'General' %} selected {% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
                
        </div>



        <button type="submit" class="btn btn-primary" style="background-color: #264653;">Add </button>

    </form>
    </div>
</body>
</html>