{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Category</title>
 
        <link rel="stylesheet" href="{% static 'style/task/cat.css' %}">
    
</head>
<body>
    {% include 'header.html' %}
  
    <div class="cat-main">
        <h1>Categories</h1>
        <div class="cat-list">
            {% for category in cat %}
            <div class="card">
                <a href="{% url 'category-task' name=category.name %}">
                    <i class="fas fa-solid fa-folder" style="font-size: 32px;color: black;"></i>  <br>{{ category.name }}
                </a>
               
            </div>
            {% endfor %}
            <div class="card add-card"><a href="{% url 'add-category' %}">
                <i class="fas fa-plus" style="font-size: 36px;"></i>
            </a>
            </div>
        </div>
    </div>
    
</body>
</html>
