
        .note{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 100vh;
        }
        .note-main{
            display: flex;
            flex-direction: column;
       
            border: 2px solid #eee;
            padding: 2rem;
            width: 50%;
        }
        .note-content{
            margin-top: -1rem;
            border: 2px solid #eee;
            width: 100%;
            height: 30vh;
            border-left: none;
            border-right: none;
        }
        .note-deadline{
            margin-top: 2rem;
            
        }
        .button{
            margin-top: 2rem;
        }
        .button a{
            margin-right: 1rem;
        }
        .back{
margin: 0px 0px 0px 0px;
        }

